<div class="container">
  <mat-card>
    <mat-card-title class="miningtag-center miningtag-pd-b-1">Indicadores</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <app-indicator-all></app-indicator-all>

    <div class="row">
      <div class="col col-md-4 col-lg-6 col-xl-6">
        <app-indicator-uf></app-indicator-uf>
      </div>
      <div class="col col-md-4 col-lg-6 col-xl-6">
        <app-indicator-bitcoin></app-indicator-bitcoin>
      </div>
    </div>
  </mat-card>
</div>