.miningtag-table {
    width: 100%;
}
.miningtag-header {
    background-color: #f80!important;
    color: white;
}
.miningtag-footer {
    background-color: #f80!important;
    color: white;
}
.miningtag-button {
    background-color: #f80!important;
    color: white;
}